@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Caveat:wght@400;500;600&family=Crimson+Pro:wght@300&family=Dancing+Script:wght@400;500;600&family=Indie+Flower&family=Kalnia:wght@300&family=Mina&family=Nova+Square&family=Pacifico&family=Rubik&family=Shadows+Into+Light&family=Sono:wght@200;500&display=swap');

.permanent-section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
    margin-bottom: 25px;
    font-family: 'Caveat', cursive;
}
.permanent-body{
    width: 100%;
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: flex-end;
}
.body-left{
    width: 40vw;
    /* border: 2px solid black; */
    margin: 20px;
    padding: 5px 12px;
    font-size: 1.4rem;
    font-family: 'Crimson Pro', serif;
    text-align: justify;
}
.body-left-det{
    margin: 15px auto;
}
.body-left-list{
    color: chocolate;
}
.body-right{
    margin: 50px 15px;
    width: 450px;
    height: 300px;
    /* border: 2px solid blue; */
    border-radius: 5px;
    background: white url("../../../public/images/permanent.jpg") no-repeat center center/cover;
    /* background-size: contain; */
    background-position: top;
}
@media screen and (max-width: 1000px){
    html{
        font-size: 15px;
    }
}
@media screen and (max-width: 900px){
    .body-left{
        width: 90vw;
        padding: 5px 20px;
    }
}
@media screen and (max-width: 500px){
    html{
        font-size: 13px;
    }
    .permanent-section h2{
        font-size: 2.5rem;
    }
    .body-right{
        width: 90vw;
        background-size: contain;
        margin-top: 10px;
        margin-bottom: 0px;
        height: 40vw;
    }
}
@media screen and (max-width: 400px){
    html{
        font-size: 12px;
    }
    .permanent-section h2{
        font-size: 2rem;
    }
    .body-right{
        height: 35vw;
    }
}
@media screen and (max-width: 330px){
    html{
        font-size: 10px;
    }
    .permanent-section h2{
        font-size: 1.8rem;
    }
    .body-right{
        height: 30vw;
    }
}